<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

		<head th:fragment="header">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- font awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
		<title>Project</title>
	</head>

	<body>

		<div th:fragment="navigation">
		<nav>
			<div class="nav-wrapper blue">
				<a th:href="@{/}" class="brand-logo" sec:authorize="hasRole('ROLE_ADMIN')">Project IO</a>
				<a th:href="@{/projects}" class="brand-logo" sec:authorize="hasRole('ROLE_USER')">Project IO</a>
				<a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="list-employees.html" th:href="@{/employees}" sec:authorize="hasRole('ROLE_ADMIN')">employees</a></li>
					<li><a href="../projects/list-projects.html" th:href="@{/projects}" sec:authorize="hasRole('ROLE_ADMIN')">projects</a></li>
					<li>
						<form action="#" th:action="@{/logout}" method="POST">
							<button class="btn red" type="submit">logout</button>
						</form>
					</li>
				</ul>
			</div>
		</nav>
		<ul class="sidenav" id="mobile-demo" sec:authorize="hasRole('ROLE_ADMIN')">
			<li><a href="list-employees.html" th:href="@{/employees}">employees</a></li>
			<li><a href="../projects/list-projects.html" th:href="@{/projects}">projects</a></li>
			<form action="#" th:action="@{/logout}" method="POST">
				<button class="btn red" type="submit">logout</button>
			</form>
		</ul>
	</div>
	
		<ul class="sidenav" id="mobile-demo" sec:authorize="hasRole('ROLE_ADMIN')">
			<li><a href="list-employees.html" th:href="@{/employees}">employees</a></li>
			<li><a href="../projects/list-projects.html" th:href="@{/projects}">projects</a></li>
			<form action="#" th:action="@{/logout}" method="POST">
				<button class="btn red" type="submit">logout</button>
			</form>
		</ul>
	</div>

	<div class="container"> 
		<h4>list of employees</h4>
		<hr>
		<a href="new-employee.html" th:href="@{/employees/new}" class="btn blue">add</a>

		<table class="highlight">
			<thead>
			<tr>
				<th>name</th>
				<th>last name</th>
				<th>mail</th>
				<th>action</th>
			</tr>
			</thead>

			<tbody>
			<tr th:each="aEmployee : ${employees}">
				<td th:text="${aEmployee.firstName}">Jhon</td>
				<td th:text="${aEmployee.lastName}"/>Smith</td>
				<td th:text="${aEmployee.email}"/>jhon_smith@gm.co</td>
				<td>
					<a href="new-employee.html" th:href=""
					   class="btn">
						Update
					</a>

					<a th:href="@{/employees/delete/{id}(id=${aEmployee.employeeId})}"
					   class="btn red"
					   onClick="if (!(confirm('delete?'))) return false">
						Delete
					</a>

				</td>
			</tr>
			</tbody>
		</table>



	</div><!-- ./container -->



	<div style="height:500px"></div> 

	<div th:fragment="footer">
			<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
			<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
			<script>
				$(document).ready(function(){

					$('.sidenav').sidenav();
					$('.materialboxed').materialbox();
					$('.parallax').parallax();
					$('.tabs').tabs();
					$('.datepicker').datepicker({
						disableWeekends: false,
						yearRange: 1,
						format: 'mmm dd, yyyy',
						firstDay:1
					});
					$('.tooltipped').tooltip();
					$('.scrollspy').scrollSpy();
					$('select').formSelect();

				});
			</script>
		</div>
	</body>
</html>