<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- font awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
		<title>Project</title>
	</head>

<body>

		<div th:fragment="navigation">
		<nav>
			<div class="nav-wrapper blue">
				<a th:href="@{/}" class="brand-logo" sec:authorize="hasRole('ROLE_ADMIN')">Project IO</a>
				<a th:href="@{/projects}" class="brand-logo" sec:authorize="hasRole('ROLE_USER')">Project IO</a>
				<a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="list-employees.html" th:href="@{/employees}" sec:authorize="hasRole('ROLE_ADMIN')">employees</a></li>
					<li><a href="../projects/list-projects.html" th:href="@{/projects}" sec:authorize="hasRole('ROLE_ADMIN')">projects</a></li>
					<li>
						<form action="#" th:action="@{/logout}" method="POST">
							<button class="btn red" type="submit">logout</button>
						</form>
					</li>
				</ul>
			</div>
		</nav>
		<ul class="sidenav" id="mobile-demo" sec:authorize="hasRole('ROLE_ADMIN')">
			<li><a href="list-employees.html" th:href="@{/employees}">employees</a></li>
			<li><a href="../projects/list-projects.html" th:href="@{/projects}">projects</a></li>
			<form action="#" th:action="@{/logout}" method="POST">
				<button class="btn red" type="submit">logout</button>
			</form>
		</ul>
	</div>

	<br>
<div class="container"> <!-- container -->
	<h4>add employee </h4>
	<hr>


	<form th:action="@{/employees/save}" th:object="${employee}" method="POST">
		<input type="hidden" th:field="${employee.employeeId}"/>
		<div class="input-field">
			<input type="text" id="name" th:field="${employee.firstName}">
			<label class="" for="name">name</label>
			<span style="color:red" th:if="${#fields.hasErrors('firstName')}"
            				  th:errors="${employee.firstName}">
		</div>
		<div class="input-field">
			<input type="text" id="text" class="validate" th:field="${employee.lastName}">
			<label class="" for="text">last name</label>
			<span style="color:red" th:if="${#fields.hasErrors('lastName')}"
            				  th:errors="${employee.lastName}">
            			</span>
		</div>
		<div class="input-field">
			<input type="email" id="email" th:field="${employee.email}"></input>
			<label class="" for="email">mail</label>
			<span style="color:red" th:if="${#fields.hasErrors('email')}"
            				  th:errors="${employee.email}">
            			</span>
		</div>

		<button class="btn blue" type="submit">submit</button>
	</form>



</div><!-- ./container -->



<div style="height:500px"></div> <!-- del this -->

<!--Import jQuery before materialize.js-->

		<div th:fragment="footer">
			<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
			<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
			<script>
				$(document).ready(function(){

					$('.sidenav').sidenav();
					$('.materialboxed').materialbox();
					$('.parallax').parallax();
					$('.tabs').tabs();
					$('.datepicker').datepicker({
						disableWeekends: false,
						yearRange: 1,
						format: 'mmm dd, yyyy',
						firstDay:1
					});
					$('.tooltipped').tooltip();
					$('.scrollspy').scrollSpy();
					$('select').formSelect();

				});
			</script>
		</div>
</body>
</html>
