<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="header">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- font awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
		<title>Project</title>
	</head>

<body>

		<div th:fragment="navigation">
		<nav>
			<div class="nav-wrapper blue">
				<a th:href="@{/}" class="brand-logo" sec:authorize="hasRole('ROLE_ADMIN')">Project IO</a>
				<a th:href="@{/projects}" class="brand-logo" sec:authorize="hasRole('ROLE_USER')">Project IO</a>
				<a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="../employees/list-employees.html" th:href="@{/employees}" sec:authorize="hasRole('ROLE_ADMIN')">employees</a></li>
					<li><a href="list-projects.html" th:href="@{/projects}" sec:authorize="hasRole('ROLE_ADMIN')">projects</a></li>
					<li>
						<form action="#" th:action="@{/logout}" method="POST">
							<button class="btn red" type="submit">logout</button>
						</form>
					</li>
				</ul>
			</div>
		</nav>
		<ul class="sidenav" id="mobile-demo" sec:authorize="hasRole('ROLE_ADMIN')">
			<li><a href="../employees/list-employees.html" th:href="@{/employees}">employees</a></li>
			<li><a href="list-projects.html" th:href="@{/projects}">projects</a></li>
			<form action="#" th:action="@{/logout}" method="POST">
				<button class="btn red" type="submit">logout</button>
			</form>
		</ul>
	</div>
	
	<br>

<div class="container"> <!-- container -->
	<h4 sec:authorize="hasRole('ROLE_ADMIN')">add project</h4>
	<h4 sec:authorize="hasRole('ROLE_USER')">update projects</h4>

	<hr>


	<form th:action="@{/projects/save}" th:object="${project}" method="POST">
		<input type="hidden" th:field="${project.projectId}"/>
		<div class="input-field">
			<input type="text" id="name" th:field="*{name}" th:readonly="disabled" sec:authorize="hasRole('ROLE_USER')">
			<label class="" for="name"> name</label>
			<span style="color:red" th:if="${#fields.hasErrors('name')}"
				  th:errors="${project.name}">
            			</span>
		</div>

		<div class="input-field">
			<select th:field="${project.stage}">
				<option value="" disabled selected>Choose your option</option>
				<option th:value="NOTSTARTED"> NOTSTARTED</option>
				<option th:value="INPROGRESS"> INPROGRESS</option>
				<option th:value="COMPLETED"> COMPLETED</option>
			</select>
			<label>select</label>
		</div>

		<div class="input-field">
			<textarea id="textarea" class="materialize-textarea" th:field="${project.description} " th:readonly="disabled" sec:authorize="hasRole('ROLE_USER')"></textarea>
			<label class="" for="textarea">about</label>
			<span style="color:red" th:if="${#fields.hasErrors('description')}"
				  th:errors="${project.description}">
            			</span>
		</div>

		<div class="input-field">
			<select th:field="*{employees}" multiple="" sec:authorize="hasRole('ROLE_USER')" th:readonly="disabled">
				<option th:each = "employee : ${allEmployees}"
						th:value = "${employee.employeeId}"
						th:text = "${employee.firstName}">
				</option>
			</select>
			<label>employees </label>
		</div>



		<div class="row" th:readonly="disabled" sec:authorize="hasRole('ROLE_USER')">
			<div class="col m6 s12">
				<div class="input-field">
					<input id="startdate" type="text" class="datepicker" th:text="${project.startDate}">
					<label class="" for="startdate">start date</label>
				</div>
			</div>
			<div class="col m6 s12">
				<div class="input-field">
					<input id="enddate" type="text" class="datepicker" th:text="${project.endDate}">
					<label class="" for="enddate">end date</label>
				</div>
			</div>
		</div>




		<button class="btn blue" type="submit">save</button>
	</form>



</div>
		<div th:fragment="footer">
			<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
			<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
			<script>
				$(document).ready(function(){

					$('.sidenav').sidenav();
					$('.materialboxed').materialbox();
					$('.parallax').parallax();
					$('.tabs').tabs();
					$('.datepicker').datepicker({
						disableWeekends: false,
						yearRange: 1,
						format: 'mmm dd, yyyy',
						firstDay:1
					});
					$('.tooltipped').tooltip();
					$('.scrollspy').scrollSpy();
					$('select').formSelect();

				});
			</script>
		</div>
</body>

</html>